* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-image: url("https://th.bing.com/th/id/OIG2.xP4AzzpHhwD3BPt6nEwA?pid=ImgGn");
  background-repeat: no-repeat;
  background-size: 100%;
}

nav {
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  color: black;
}

nav a:hover {
  background-color: #f0f0f0;
}

nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.menu-button {
  display: none;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}

header {
  font-size: 30px;
  opacity: 0.5;
  padding: 0 20px;
  line-height: 1.7;
}

h2 {
  font-size: 30px;
  opacity: 0.7;
  padding: 0 20px;
  line-height: 1.5;
}

.box-one p {
  font-size: 20px;
  opacity: 0.7;
  padding: 0 20px;
  line-height: 1.9;
}

.one {
  position: absolute;
  bottom: -800px;
  left: -20px;
}

.two {
  position: relative;
  left: 3%;
  bottom: 120px;
}

.vid-two-p p {
  font-size: 20px;
  opacity: 0.7;
  padding: 0 20px;
  line-height: 1.9;
  position: relative;
  bottom: 240px;
  right: 3px;
}

.game-p p {
  font-size: 20px;
  opacity: 0.7;
  padding: 0 20px;
  line-height: 1.9;
  position: relative;
  bottom: 220px;
  right: -22%;
  z-index: 2;
}

.links-to-projects {
  position: relative;
  bottom: 151px;
  font-size: 18px;
  padding: 10px;
  line-height: 1.5;
  background-color: rgba(0, 0, 0, 0.111);
}

.links-to-projects a {
  color: #0074d9;
  text-decoration: none;
}

.links-to-projects a:hover {
  color: #ff4136;
  text-decoration: underline;
}

a.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff851b;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
a.button-link:hover {
  background-color: #ff4136;
}

.links-to-projects a {
  cursor: pointer;
}
