* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-image: url("https://th.bing.com/th/id/OIG3.Q877ASjVETU1WLDmFSzL?w=1024&h=1024&rs=1&pid=ImgDetMain");
  background-repeat: no-repeat;
  background-size: 100%;
}

nav {
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  color: black;
}

nav a:hover {
  background-color: #f0f0f0;
}

nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.menu-button {
  display: none;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}

video {
  position: relative;
  left: 5%;
  top: 340px;
}

.resume-heading {
  font-family: sans-serif;
  font-size: 110px;
  font-weight: bold;
  position: relative;
  bottom: 510px;
  left: 20px;
  line-height: 1.5;
  opacity: 0.5;
}

.first-p {
  font-family: sans-serif;
  font-size: 30px;
  position: relative;
  bottom: 525px;
  left: 20px;
  line-height: 1.5;
  opacity: 0.8;
}

.first-box {
  font-family: sans-serif;
  font-size: 20px;
  position: relative;
  bottom: 520px;
  left: 20px;
  line-height: 1.5;
  padding: 10px;
}

.second-box {
  font-family: sans-serif;
  font-size: 20px;
  position: absolute;
  top: 900px;
  left: 40px;
  line-height: 1.5;
}

.second-box h2 {
  line-height: 1.8;
  font-size: 30px;
  font-weight: bold;
  opacity: 0.8;
}

.second-box h3 {
  line-height: 1.5;
  font-size: 25px;
  opacity: 0.7;
}
.second-box .job-paragraph {
  padding: 20px;
  position: relative;
}

.skills {
  position: relative;
  left: 40%;
  bottom: 670px;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.5;
  margin-top: 20px;
}

.skills h2 {
  opacity: 0.8;
}

.round-button {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid #333333c2;
  border-radius: 50px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  margin-right: 5px;
  margin-bottom: 5px;
  transition: background-color 0.5s ease;
}

.round-button:hover {
  background-color: #333333c2;
  color: #fff;
}

.languages {
  position: relative;
  left: 40%;
  bottom: 650px;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

.languages p {
  font-size: 18px;
}

.languages h2 {
  opacity: 0.8;
}

.circle {
  font-size: 15px;
  display: inline-block;
  margin-left: 10px;
}

.education {
  position: relative;
  left: 40%;
  bottom: 670px;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

.education h2 {
  opacity: 0.8;
}

.cert {
  padding: 5px;
}

.reference {
  font-family: sans-serif;
  font-size: 20px;
  position: relative;
  top: 350px;
  left: 25px;
  line-height: 1.5;
  padding: 20px;
}

.reference h2 {
  opacity: 0.8;
}

.reference a {
  opacity: 0.6;
}

.reference a:hover {
  background-color: #333333c2;
  color: #fff;
}
